In [1]:
let str_value = 120;
let number_value = '2';

console.log(str_value - number_value + '2');

1182

In [2]:
// Sulman:- 12022 :- wrong answer
// Adil:- 1182:- due to str_value - number_value = '118' + 2 = '1182':- correct answer
// Furqan:- 1182:- due to str_value - number_value = '118' + 2 = '1182':- correct answer
// Rizwan:- 120:- wrong answer
// Mohsin:- 1182:- due to str_value - number_value = '118' + 2 = '1182':- correct answer

In [1]:
let num_1 = 120;
let str_text = 'this is a pen. its price is num_1 PKR';

console.log(str_text);

this is a pen. its price is num_1 PKR

In [ ]:
// Sulman:- this is a pen. its price is num_1 PKR:- correct answer
// Adil:- this is a pen. its price is num_1 PKR:- correct answer
// Furqan:- this is a pen. its price is num_1 PKR:- correct answer
// Rizwan:- this is a pen. its price is num_1 PKR:- correct answer
// Mohsin:- this is a pen. its price is num_1 PKR:- correct answer

In [2]:
let num_1 = 10;
let num_2 = 11;
let num_3 = 111;
let num_4 = 18;
let num_5 = 20;
let num_6 = 90;
let num_7 = 01;
let num_8 = 010;

const checking_value = num_1 > num_7 && num_6 < '400.0';
console.log(checking_value * 2);

SyntaxError: Identifier 'num_1' has already been declared

In [ ]:
// Sulman:- Error:- due to this reason. we can not multiply boolean value with number:- Wrong answer
// Adil:- 2:- due to this reason:- we received true after checking value. then multiply it with 2. the default value of true is 1. 1 * 2 = 2 :- Wrong answer
// Furqan:- Error:- due to use const variable. :- Wrong answer
// Rizwan:- 2:- due to this reason:- we received true after checking value. then multiply it with 2. the default value of true is 1. 1 * 2 = 2 :- Wrong answer
// Mohsin:- 2:- due to this reason:- we received true after checking value. then multiply it with 2. the default value of true is 1. 1 * 2 = 2 :- Wrong answer

In [3]:
let age = 20;
let check_valid_age = age >= 18 && age <= 50;
console.log('if answer is true then you can go Cinema and enjoy movie else you are not adult right now. Please go home.',check_valid_age);

if answer is true then you can go Cinema and enjoy movie else you are not adult right now. Please go home. true

In [ ]:
// Sulman:- if answer is true then you can go Cinema and enjoy movie else you are not adult right now. Please go home. false :- Wrong Answer
// Adil:- if answer is true then you can go Cinema and enjoy movie else you are not adult right now. Please go home. false:- Wrong Answer
// Furqan:- if answer is true then you can go Cinema and enjoy movie else you are not adult right now. Please go home. true:- Correct Answer
// Rizwan:- if answer is true then you can go Cinema and enjoy movie else you are not adult right now. Please go home. false:- Wrong Answer
// Mohsin:- Error:- due to prints out the string in console.log():- Wrong Answer

In [1]:
let string_1 = 'Ali and Furqan want to go lahore for a trip.';
let total_word = string_1.length + '.0';
let check_values = total_word <= 60 || total_word >= 60;
console.log(check_values);

true

In [ ]:
// Sulman:- true:- due to total_world value is 34.0 and it is less than 60:- correct answer
// Adil:- true:- due to total_world value is 34.0 and it is less than 60:- correct answer
// Furqan:- true:- due to total_world value is 44.0 and it is less than 60:- correct answer
// Rizwan:- true:- due to total_world value is 45.0 and it is less than 60:- correct answer
// Mohsin:- true:- due to total_world value is 44.0 and it is less than 60:- correct answer

In [2]:
total_word

'44.0'

In [3]:
console.log((1 > -500000000000000;)

SyntaxError: Unexpected token ';'

In [ ]:
// Sulman:- Error:- Correct Answer
// Adil:- true:- Wrong Answer
// Furqan:- true:- Wrong Answer
// Rizwan:- true:- Wrong Answer
// Mohsin:- true:- Wrong Answer